.navigation-options{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .2rem 2rem;
    background-color: black;
    width: 27rem;
    height: 100%;
    position: fixed;
    top: 0rem;
    right: 0;
    z-index: 1;
    transform: translateX(150%);
    transition: transform .2s ease-in-out;
    .options{
        margin-top: 2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        font: 700 1.8rem Montserrat, sans-serif;
        line-height: 1.5;
        letter-spacing: 0;
        li{
            margin-bottom: 1rem;
            a{
                text-decoration: none;
                color: $color-text-primary;
                &:hover{
                    &:not(.pipe){
                        cursor: pointer;
                        color: $color-text-on-hover;
                    }
                }
             
            }
        }
        .pipe{
            width: 1.5rem;
            height: .12rem;
            border: 1px solid $color-text-primary;
            margin: 1.5rem 0 1.5rem 0;
        }
        .user-action{
            font: 400 1.4rem Montserrat, sans-serif;

            color: $color-text-secondary;
        }

    }
}

.navigation-options-open{
    transform: translate(0);
}