@media(min-width:1170px){
    .spotify-nav{
        height: 5rem;
        .logo{
            margin-left: 6rem;
            img{

                width: 10rem;
                height: 3rem;
            }
        }
    }
    .burger{
        display: none;
    }

    .navigation-options{
        flex-direction: row !important;
        align-items: center;
        justify-content: flex-end !important;
        position: initial !important;
        padding: .2rem .4rem !important;
        width: 100vw !important;
        top: unset !important;
        right: unset !important;
        transform: unset !important;
        transition: unset !important;
        .options{
            flex-grow: 0 !important;
            justify-content: space-around !important;
            flex-direction: row !important;
            align-items: center !important;
            width: 50%;
            height: inherit;
            margin-top: 0 !important;
            font-size: 1rem !important;
            li{
                margin: unset !important;
            }
            .pipe{
                width: 1rem;
                margin: 0 .5rem 0 .5rem !important;
                transform: rotate(90deg);;
            }
            .user-action{
                font-size: 1rem !important;
            }
        }
        .logo{
            display: none;
        }
    }   
}