@import '../../DefaultProps/variables';

.spotify-nav{
    background-color: black;
    color: $color-text-primary;
    display: flex;
    align-items: center;
    padding: 0.2rem .5rem;
    height: 3.4rem;
    .logo{
        flex-grow: 1;
        display: flex;
        align-items: center;
        img{
            width: 6rem;
            height: 2rem;
        }
    }
    @import './navoptions';
}

.sticky-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    animation: fadeInBar .2s ease-in;
    -webkit-animation: fadeInBar .2s ease-in;
}

@keyframes fadeInBar{
    from{
        top: -1rem;
    }to{
        top: 0;
    }
}

@-webkit-keyframes fadeInBar{
    from{
        top: -1rem;
    }to{
        top: 0;
    }
}

@import './burger';
@import './responsive';