$background-color-primary: #cb1582;
$background-color-secondary: #2D46B9;
$btn-color: #1ED760;
$color-text-primary: #FFFF;
$color-text-secondary: #919496;
$color-text-on-hover: #1DB954;
$color-text-banner-primary: #A5FFF8;
$color-text-banner-secondary: #1ED760;
$color-text-btn: #cb1582;