.container {
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
  width: 100%;
}
.container .content .col-left, .container .content .col-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container .content .col-left .section-title, .container .content .col-right .section-title {
  font: 500 0.8rem Montserrat, sans-serif;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.container .row {
  width: 100%;
}

.explore-wrapped {
  background-color: #cb1582;
  color: #A5FFF8;
}
.explore-wrapped .col-right .section-title {
  display: none;
}
.explore-wrapped .col-right h4 {
  font: 600 1.8rem Montserrat, sans-serif;
  line-height: 2rem;
  letter-spacing: -0.04em;
  max-width: 16.5rem;
  margin-bottom: 1rem;
  max-width: 16.5rem;
}
.explore-wrapped .col-right .description {
  font: 400 0.8rem Montserrat, sans-serif;
  line-height: 1.25rem;
  max-width: 18rem;
  letter-spacing: initial;
  margin-bottom: 1rem;
}
.explore-wrapped .col-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3rem;
  background-color: #A5FFF8;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  font: 600 0.8rem Montserrat, sans-serif;
  letter-spacing: 0.1rem;
  color: #cb1582;
  transition: all 0.2s ease-in;
}
.explore-wrapped .col-right a:hover {
  transform: scale(1.01);
  background-color: #fff;
}

.spotify-free {
  background-color: #2D46B9;
  background-image: url("../../../assets/background.svg");
  background-repeat: no-repeat;
  background-size: auto 160%;
  background-position: center center;
  color: #1ED760;
}
.spotify-free .col-left h4 {
  font: 600 1.8rem Montserrat, sans-serif;
  line-height: 2rem;
  letter-spacing: -0.04em;
  max-width: 16.5rem;
  margin-bottom: 1rem;
  max-width: 16.5rem;
}
.spotify-free .col-left .description {
  font: 400 0.8rem Montserrat, sans-serif;
  line-height: 1.25rem;
  max-width: 18rem;
  letter-spacing: initial;
  margin-bottom: 1rem;
}
.spotify-free .col-left a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 3rem;
  background-color: #1ED760;
  text-align: center;
  text-decoration: none;
  border-radius: 2rem;
  font: 600 0.8rem Montserrat, sans-serif;
  letter-spacing: 0.1rem;
  color: #2D46B9;
  transition: all 0.2s ease-in;
}
.spotify-free .col-left a:hover {
  transform: scale(1.01);
  background-color: #fff;
}

.spotify-section {
  min-height: 29rem;
}

.spotify-auth-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.spotify-auth-container .row .col-12 {
  width: 100%;
}
.spotify-auth-container .row .divider {
  width: 100%;
  display: block;
  line-height: 0;
  margin: 1rem 0;
  text-align: center;
  border-top: 1px solid #d9dadc;
  position: relative;
}
.spotify-auth-container .row .divider strong {
  background-color: #ffffff;
  padding: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
}

@media (min-width: 1000px) {
  .row {
    align-items: flex-start !important;
    width: 50vw !important;
  }
  .row .col-12 {
    display: flex;
  }
}
@media (min-width: 1170px) {
  .spotify-section {
    min-height: 37rem;
    flex-direction: row !important;
  }
  .spotify-section .content {
    flex-direction: row;
    align-items: end;
  }
  .spotify-section .content .gradient-graphic {
    width: 33.25rem;
    height: 25.25rem;
    background-size: 100% 21.25rem;
    background-position: 0 1.5rem;
    padding: 0 4rem;
  }
  .spotify-section .content .gradient-graphic .graphic-title {
    align-items: flex-end;
    flex-direction: row;
    justify-content: unset;
    padding: 2.5rem;
  }
  .spotify-section .content .gradient-graphic .graphic-title h4 {
    max-width: 2rem;
    font: 600 2.5rem Poppins;
    text-align: left;
    text-transform: capitalize;
    line-height: 4rem;
  }
  .spotify-section .content a {
    width: 50%;
  }

  .explore-wrapped .col-left .section-title {
    display: none;
  }
  .explore-wrapped .col-right {
    align-items: flex-start !important;
    text-align: left;
  }
  .explore-wrapped .col-right .section-title {
    display: block;
  }
  .explore-wrapped .col-right h4 {
    font-size: 3rem;
    line-height: 4rem;
    max-width: 19.5rem;
  }
  .explore-wrapped .col-right .description {
    font: 500 1rem Montserrat, sans-serif;
    max-width: 32rem;
    margin-bottom: 2rem;
  }

  .spotify-free {
    align-items: baseline;
    background-image: url("../../../assets/background-desktop.svg");
    background-position: right center;
    background-size: auto 100%;
  }
  .spotify-free .col-left {
    flex: 1;
    align-items: start !important;
    text-align: left;
    padding: 2rem 4rem;
  }
  .spotify-free .col-left h4 {
    font-size: 3rem;
    line-height: 3rem;
    max-width: 19.5rem;
  }
  .spotify-free .col-left .description {
    font: 500 1rem Montserrat, sans-serif;
    max-width: 32rem;
    margin-bottom: 2rem;
  }
  .spotify-free .col-left a {
    width: 20%;
  }
}
.gradient-graphic {
  position: relative;
  margin: 0 auto;
  width: 11.25rem;
  height: 8.25rem;
  background: linear-gradient(359.37deg, #000 3.09%, #FF4632 22.4%, #FAE62D 46.64%, #9BF0E1 62.15%, #A0C3D2 79.91%, #4100F5 99.49%);
  background-repeat: no-repeat;
  background-size: 100% 100px;
  background-position: 0 1rem;
  margin-bottom: 1rem;
  padding: 0 1.5rem;
}
.gradient-graphic .graphic-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #A5FFF8;
}
.gradient-graphic .graphic-title h4 {
  font: 700 1.2rem Montserrat, sans-serif;
  color: #cb1582;
}

/*# sourceMappingURL=container.css.map */
